@use 'sass:color';

.popup {
  align-items: center;
  background: color.adjust(#1a5276, $alpha: -0.4);
  display: flex;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.popup__close {
  aspect-ratio: 1/1;
  background: none;
  border-radius: 0;
  opacity: 1;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: opacity 0.3s;
  width: 32px;
  z-index: 1;

  &:hover {
    opacity: 0.6;
  }

  @media screen and (min-width: 640px) {
    width: 48px;
  }
}

.popup__wrapper {
  background: #fff;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-height: 100vh;
  max-width: 900px;
  padding: 1em;
  position: relative;
  width: 100%;

  @media screen and (min-width: 768px) {
    border-radius: 2em;
    height: auto;
    max-height: 90vh;
    max-width: 1200px;
    padding: 2em;
    width: 90vw;
  }
}

.popup__content {
  padding-right: 25px;
  overflow: auto;

  h2 {
    margin-bottom: 0.8em;
  }

  h3 {
    margin: 1.5em 0 0.8em;
  }

  p {
    margin-bottom: 1em;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
